[2021-04-30 08:07] #456 closed

[2021-04-30 08:10] gvnnz commented on #464
@wander799 basic questions: is your MIDI keyboard recognized by other DAWs or MIDI apps? Could you paste here the console output when you open Giada? How to enable console logging: [here](https://www.giadamusic.com/forum/viewtopic.php?f=2&t=2)

[2021-04-30 11:13] musicinmybrain commented on #463
I’m the maintainer of the package in Fedora Linux. I think I looked at `.github/workflows/ci.yml` to figure this out. You just need

[code]

Yes, that means enabling the tests affects your installed binary.

(Maybe there’s still a better place to document this.)

[2021-04-30 11:26] musicinmybrain commented on #415
In Fedora Linux, we have to not only build `giada` without VST3 support, but also strip out the bundled VST3 SDK and JUCE code from the source tarball before using it, because the [additional trademark-related conditions](https://developer.steinberg.help/display/VST/Steinberg+VST+usage+guidelines) imposed [on top of the GPLv3](https://developer.steinberg.help/pages/viewpage.action?pageId=9797944)

[2021-04-30 11:36] musicinmybrain commented on #450
Thanks!

[2021-04-30 21:50] unfa commented on #232
Adding support for the Non-Session-Manager protocol would make it possible to include Giada in modular projects alongside other software that supports it - then you can save and load your data with one click in multiple programs, and have it all work like it's a single project. New Session Manager is a fork fixing some long-standing issues, but it's fully backwards-compatible.

[2021-05-01 08:52] gvnnz commented on #460
Fixed, closing.

[2021-05-01 08:52] #460 closed

[2021-05-01 08:58] gvnnz commented on #459
Done.

[2021-05-01 08:58] #459 closed

[2021-05-06 15:00] asktoby opened #465 "BSOD on launch after enabling ASIO"
**Environment**
- OS: Windows 10
- Giada version: giada-0.17.2-x86_64-windows

**Describe the bug**
Giada causes BSOD on launch when ASIO selected.

**To Reproduce**

- Fresh download of Giada 0.17.2
- Launch, see the below in console:

[code]

- Click Config
- Change System from DirectSound to ASIO
- Save, Quit.
- giada.conf created with the following contents:

`{"action_editor_grid_on":0,"actio

[2021-05-07 07:10] gvnnz commented on #463
Hey guys, the "[how to build from source](https://www.giadamusic.com/documentation-compiling-from-source)" guide on the website has been updated lately. You will find instructions on how to run tests at the bottom. Is it OK for you? Feedback are welcome.

[2021-05-07 07:15] gvnnz commented on #415
Thanks @musicinmybrain , interesting reads. Let's keep VST support optional.

[2021-05-07 07:15] #415 closed

[2021-05-07 07:21] gvnnz commented on #232
NSM is sexy. Volunteers who are willing to help us implementing it are welcome! :sunglasses:

[2021-05-09 06:11] Aid19801 opened #466 "cannot select internal mic"
**Environment**
- OS: macOS 10.15.7
- Giada version: [e.g. v0.17.2]

**Describe the bug**
I select the internal mac mic from input devices, save, close and re-open application like in video
No input is detected and when i go back to config, it has not saved/persisted.

**To Reproduce**
Download app, as advised on Downloads page, open, select internal mic, close and reopen application, check mic/in

[2021-05-13 19:49] gvnnz commented on #455
FIxed. Thanks!

[2021-05-13 19:49] #455 closed

[2021-05-15 10:22] terencode commented on #454
6559aa56ac95cc7760d399b5a624505c5f6a4df1 reintroduced the problem on a different file:

[code]

[2021-05-16 16:41] gvnnz commented on #466
Hi @Aid19801 , thanks for reporting. The whole I/O configuration is quite buggy at the moment, but it has been simplified and optimized in version 0.18.0 (coming soon). Please wait a few days and test the new release to see if your issue still persists.,,

[2021-05-17 20:01] gvnnz commented on #454
@terencode fixed in 61c8d6efab7111e85283f9f78353667a9282deca, thanks!

[2021-05-22 17:28] hfiguiere commented on #419
It's not true. There is a 64-bit version. They just tuck it away. I have been running it for over 6 month.

[2021-05-22 19:31] tomek-szczesny commented on #419
No official release though, and well hidden from general public. My point was that 32-bit release should be available as well.

[2021-05-24 17:44] gvnnz commented on #466
Any luck with v.0.18.0?

[2021-05-27 17:22] ademenet opened #475 "“giada” is damaged"
**Environment**
- OS: macOS Big Sur 11.3
- Giada version: giada-0.18.0.1-x86_64-macos

**Describe the bug**

When downloaded the compile version for macOS, I unzip then double click on the app and get the following message:

**To Reproduce**

Steps described below.

**Expected behavior**

Running the application.

**Screenshots**

![](https://i.ibb.co/rmpwQf5/Giada-Error.png)

Thank you for your w

[2021-05-28 15:47] ggsubs commented on #475
Message in kernel log:

[2021-05-30 08:44] gvnnz commented on #475
Thank you @ademenet and @ggsubs for the feedback. What happens if you unpack the executable from the `.app` package and run it directly?

[2021-05-30 10:13] #421 closed

[2021-06-05 09:16] gvnnz commented on #475
There's a temporary workaround being discussed in #477.

[2021-06-05 09:17] gvnnz opened #478 "[macOS] Enable hardened runtime in CMake"
https://developer.apple.com/documentation/security/hardened_runtime

How-to in CMake:  https://stackoverflow.com/questions/56023947/cmake-xcode-generator-add-capability-hardened-runtime/56026083

[2021-06-10 21:08] #397 closed

[2021-06-10 21:13] gvnnz opened #479 "Refactor Clock.cpp"
1. Move all sync functions (MIDI and JACK) to a new module (e.g. `giada::m::sync`). See TODO comments in `clock.h`;
1. move the `ClockStatus` property (RUNNING, WAITING, ...) to Sequencer as a new Sequencer property (e.g. `SeqStatus`).

[2021-06-10 21:22] #463 closed

[2021-06-14 07:04] ademenet commented on #475
Thank you for you reply! I will try this workaround.

[2021-06-17 20:25] gvnnz commented on #288
WIP in `samplerate-quality` branch.

[2021-06-25 21:11] gvnnz commented on #288
Done in 4b1af27 .

[2021-06-25 21:11] #288 closed

[2021-06-26 08:29] gvnnz commented on #478
Done in 3feda00e5801acbe581e94a6823ee02048bc091d.

[2021-06-26 08:29] #478 closed

[2021-06-26 08:58] gvnnz commented on #254
Done in cfcd79cdcf4ca805179cad5c577ae399baec1979 .

[2021-06-26 08:58] #254 closed

[2021-06-27 09:37] gvnnz commented on #457
@moonshaadow several JACK-related improvements have been added since April in the current master branch: could you please try again and see if the issue persists in your setup? Thanks!

[2021-07-04 10:17] gvnnz commented on #203
Done in 43435fe.

[2021-07-04 10:17] #203 closed

[2021-07-11 07:18] guit4eva opened #480 "Mac - input device greyed out"
**Environment**
- OS: Mac 10.15.7
- Giada version: v0.18

**Describe the bug**
I am unable to select an input device (in this case, just the built-in laptop mic).

![image](https://user-images.githubusercontent.com/7669879/125186120-bc42dd80-e228-11eb-88ea-92abb39eb1ff.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Install Giada
2. Click on Config -> Sound System
3. Input device not se

[2021-07-12 08:25] gvnnz commented on #480
Hey @guit4eva , you have to enable it by clicking the checkbox on the right side of the dropdown menu.

[2021-07-12 08:36] guit4eva commented on #480
That doesn't seem to make any difference?

![image](https://user-images.githubusercontent.com/7669879/125256431-bb7b7b80-e2fc-11eb-8eeb-441129a5f6d5.png)
![image](https://user-images.githubusercontent.com/7669879/125256467-c1715c80-e2fc-11eb-80f3-90d64684e28b.png)

[2021-07-14 08:50] gvnnz commented on #480
Can you please paste here the log messages you get at startup? How to enable logging: Config -> Misc -> Debug Messages -> To standard output

[2021-07-23 14:15] gvnnz commented on #302
@hellocatfood any feedback on this?

[2021-07-23 14:17] #376 closed

[2021-07-23 14:39] #442 closed

[2021-07-23 14:41] gvnnz commented on #175
@hugoaboud any updates on this?

[2021-07-23 14:42] gvnnz commented on #184
Closing this, discussions take place in the... [Discussion area](https://github.com/monocasual/giada/discussions) here on GitHub.

[2021-07-23 14:42] #184 closed

[2021-07-23 14:45] #253 closed

[2021-07-23 14:46] gvnnz commented on #307
Very old bug from old architecture. Closing this as it should have been fixed along the way. @muziker please reopen it otherwise.

[2021-07-23 14:46] #307 closed

[2021-07-23 14:50] gvnnz commented on #328
@dvzrv @hfiguiere is this still an issue?

[2021-07-23 14:51] gvnnz commented on #330
No feedback, closing.

[2021-07-23 14:51] #330 closed

[2021-07-23 14:51] gvnnz commented on #333
No feedback, closing.

[2021-07-23 14:51] #333 closed

[2021-07-23 14:52] #371 closed

[2021-07-23 14:53] gvnnz commented on #377
No feedback, closing.

[2021-07-23 14:53] #377 closed

[2021-07-23 14:53] hfiguiere commented on #328
the current version no longer build VST2 because the VST2 SDK isn't available anymore.

As for that JUCE problem, it has been solved a while ago in JUCE.

[2021-07-23 14:54] gvnnz commented on #378
No feedback, closing.

[2021-07-23 14:54] #378 closed

[2021-07-23 14:56] gvnnz commented on #392
Our CI is now powered by GitHub Actions, closing.

[2021-07-23 14:56] #392 closed

[2021-07-23 14:56] gvnnz commented on #395
No feedback, closing.

[2021-07-23 14:56] #395 closed

[2021-07-23 14:57] #431 closed

[2021-07-23 14:58] #433 closed

[2021-07-23 15:00] gvnnz commented on #448
Audio config process has been rewritten from scratch few versions ago. Please reopen if the segfaults persist.

[2021-07-23 15:00] #448 closed

[2021-07-23 15:01] gvnnz commented on #464
No feedback, closing.

[2021-07-23 15:01] #464 closed

[2021-07-23 15:01] gvnnz commented on #465
@asktoby is this still a problem with the latest version?

[2021-07-23 15:02] gvnnz commented on #466
No feedback, closing.

[2021-07-23 15:02] #466 closed

[2021-07-23 15:03] gvnnz commented on #475
@ademenet any progress on this?

[2021-07-23 15:03] #328 closed

[2021-07-24 00:02] hellocatfood commented on #302
I'm testing on a Dell XPS 15 with NVIDIA drivers and all seems to work now version 0.18.0). I don't have the original machine (xps 13 with wayland) so can't test on that

[2021-07-24 00:02] #302 closed

[2021-07-24 12:55] tblrchstr opened #482 "Some live-played MIDI events get skipped"
**Environment**
- OS: all
- Giada version: 0.18

**Describe the bug**
When playing a VST instrument through a physical MIDI device, some of the MIDI events generated by the device are skipped and not rendered as audio output.

**To Reproduce**
1. create a new MIDI channel;
2. load any VST instrument capable of receiving MIDI;
3. arm the MIDI channel (also configure it to enable MIDI input);
4. pla

[2021-07-25 18:16] yurivict opened #483 "cmake doesn't install the executable"
**Environment**
- OS: FreeBSD 13
- Giada version: 0.18.1

[2021-07-25 20:36] gvnnz commented on #424
Done in 15862c4aa9fb7b4d7a2b4a6789747aa5d19c8806 .

[2021-07-25 20:36] #424 closed

[2021-07-27 09:55] rbckman opened #484 "midi bindings to free a channel and skipping a shitty record"
I'm trying out Giada as my live looping station. Got jack running at 2 ms latency and Giada has been performing solid with newest version.

as a live looper id really not want to fiddle around with the mouse, got a midi controller for arming channels, everything is good as long as I dont mess up while recording. Then I have to mousy around, click the channel, click free channel, click ok...

can t

[2021-07-27 21:00] damianfallas opened #485 "MIDIPLUS SmartPad midimap can´t be done."
**Environment**
- OS: win10
- Giada version: 0.18.1

**Describe the bug**
MIDIPLUS SmartPad midimap cant be done.

Im trying to create the MIDIPLUS SmartPad midimap but accoding to the PDF manual, is necesary to send two messages, one for clear, and other for the color. And the software just can send one.

[https://www.midiplus.com.tw/cn/MIDIPLUS-Download-detail/0/Manual_Of_SmartPAD_EN/](manual pa

[2021-07-29 08:53] gvnnz commented on #484
Hey @rbckman , thanks for your feedback!

There is but it's a bit obscure: you have to right-click on the MIDI learn box that displays the value  (the _(not set)_ button in the picture below):
![midi-input-window](https://user-images.githubusercontent.com/74901950/127462561-eda768f2-9be6-4068-a1c9-37f23a98b50a.png)
I agree this should be more explicit, though.

Good Idea, I'll put it in our TO-DO

[2021-07-29 08:59] gvnnz opened #486 "Explicit free MIDI binding"
From #484: make the free MIDI binding more explicit by adding a new "clear" button next to the MIDI learn tools:

![midi-input-window](https://user-images.githubusercontent.com/74901950/127463391-461c5231-9132-4471-a702-90f6589a13a7.png)

Bonus: add the "clear all" button too.

[2021-07-29 09:02] gvnnz opened #487 "Quick trash function for live recordings"
From #484:

[2021-07-29 18:17] rbckman commented on #484
cool! sorry for not being clear enough, what I mean is a midi binding to free armed samples (not freeing the midi binding). Freeing a midi binding is good enough to me man!

[2021-07-29 19:29] gvnnz commented on #484
Well, the right-click thing is weird anyway, it deserves some UX improvements :) I'll add the feature you suggested to the roadmap. Thanks

I'll add this one too to the roadmap. Thanks!

[2021-07-29 19:32] gvnnz opened #488 "MIDI binding to free sample channels"
Add the ability to free a sample channel through a MIDI device. Needs a new MIDI-learn parameter.

[2021-07-29 19:35] gvnnz commented on #485
Thanks @damianfallas for reporting. Yes, currently only one MIDI ligthing message is supported. I'll add this one to the 1.x milestone.

[2021-07-29 19:39] gvnnz commented on #483
Hey @yurivict, unfortunately I can't test this now. Do you get any error messages? Or is the binary simply not copied to the destination folder?

[2021-07-29 20:03] yurivict commented on #483
Binary isn't copied to the destination folder.

[2021-07-31 09:07] gvnnz commented on #484
Issues #486, #487, #488 extracted from this one, closing.

[2021-07-31 09:07] #484 closed

[2021-07-31 09:11] gvnnz commented on #483
How did you run the install command?

[2021-08-01 10:49] asktoby commented on #465
Confirmed issue is still there with giada-0.18.1-x86_64-windows.zip

[2021-08-02 20:05] Reaper10 commented on #340
[This may help](https://gitlab.com/drobilla/blop-lv2)

[2021-08-09 05:21] Xpktro commented on #458
This is still persisting. Just downloaded latest Giada and downgraded up to Talisman (v0.16.3) to get a working distribution :(

[2021-08-14 08:24] gvnnz opened #497 "Don't ouput MIDI from MIDI channels if channel is muted"
As originally reported [here](https://github.com/monocasual/giada/discussions/489): MIDI channels should not ouput MIDI data if muted.

[2021-08-14 08:38] gvnnz commented on #458
@Xpktro are you getting the "this app needs 10.15 to work..." message?

[2021-08-14 09:05] Xpktro commented on #458
@gvnnz Yes, tried to compile it myself and got stuck with compilation errors displaying: `error: 'function' is unavailable: introduced in macOS 10.15`. I was able to run the v0.16.3 version without propblems, tho.

[2021-08-15 10:25] CarloCattano commented on #83
Hi there . Thanks for working on Giada first of all , its an amazing piece of software . THis lv2 compatibilty would be super nice . Any news on this ?

[2021-08-15 16:29] CarloCattano opened #498 "Let Midi Thru output Channel if Armed"
When triying to make live loops with midi and many diferent instruments in outputs for each clip , it would be awesome to be able to play along with the composition without the need to be "recording" actively .

At the current setup ( Giada - > Carla ) , I cant hear what I play , unless Im recording

A switch similar to the audio "monitor on " would be awesome

aditional :

  _Fist of all , a big

[2021-08-15 18:28] CarloCattano commented on #486
this would be nice to have . Im going to have a look if I can understand where this happends to make some tests

[2021-08-15 18:32] Xpktro commented on #419
Any news on this? or are there any special build instructions for this architecture? I'd really love to have an official armv8 build. Giada will be a strong competitor in the low spec music making market.

I'm currently running a rpi4 and was looking at begineer friendly music tools. Giada is the best fit so far except for this little detail :(

[2021-08-15 20:24] tomek-szczesny commented on #419
Just follow the build instructions and all should be well. I dont remember taking any extra steps. I haven't tried building with vst support though.

[2021-08-16 06:42] CarloCattano commented on #419
Im trying to compile it on pi 3 32bit . Just for fun and to see if I can contribute in the future, since there is a Giada version on my apt .

The only strange I noticed is a weird error with ssh and github , I had to -> echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config

otherwise , it wont let me update recursively the repo

[2021-08-16 09:40] CarloCattano commented on #419
Alternatively , I changed the url in the git config file and it works normally now . https://github.com/monocasual/giada/blob/4e6bcf5672c7bf45cdd306860541edd3b35028a3/.gitmodules#L15

Instead of git@github.com:monocasual/geompp.git  https://github.com/monocasual/geompp.git , etc with the others

[2021-08-16 09:52] tomek-szczesny commented on #419
That's definitely not an ARM-related problem.

[2021-08-16 18:35] CarloCattano commented on #419
Sorry about that , here I have one . Without VST support it does build , even tho the version through apt seems more stable and efficient for some reason and it has vst support that runs well on my rpi 3.

When trying vst3 support I get the following :

[build_output.txt](https://github.com/monocasual/giada/files/6994591/build_output.txt)

Any leads would be appreciated, would like to keep up to d

[2021-08-16 19:13] Xpktro commented on #419
Just successfully built in my rpi4b (armv7l) with and without VST3 support (however I couldn't find a suitable arm-compiled vst to test this yet).

For VST3 support, I had to install these additional dependencies:

[code]

And had to add a line in CMakeLists.txt after L505 (as I faced the same errors as @CarloCattano) :

[code]

[2021-08-17 19:01] CarloCattano commented on #419
Perfect , thanks @Xpktro !! I did build successfully VST3 and VST2 at the same time .
Is true that there arent much vst3 plugins around for arm , but in the future perhaps . Is not a big problem for me since I can use Giada - > Carla( lv2 plugins ) .   But is amazing to see this useful vst2 on the pi inside Giada smoothly :-)

![image](https://user-images.githubusercontent.com/17380530/129784258-6

[2021-08-18 06:39] CarloCattano opened #499 "Giada ignores ch play/stop and plays back midi if transport rolls"
- OS: PatchboxOS - Raspberry pi
- Giada version: Giada 0.18.2 -Build date: Aug 17 2021

Giada ignores ch actions state. Playhead plays notes if present in actions when transport rolls , no matter if its in stop state.

Steps to reproduce the behavior:
1. open Giada with a midi output to an audio software that receives the midi
2. Add midi channel
3. click on edit actions with the channel stoped
4.

[2021-08-18 06:47] CarloCattano commented on #499
Present on Windows too .
Giada 0.18.1
Build date: Jul 24 2021

Playhead is not displayed , maybe was a more recent adition , but this behaviout is still present :-(

![image](https://user-images.githubusercontent.com/17380530/129850925-8516d0c0-9465-4a89-9e61-cf0634f45080.png)

[2021-08-18 08:58] gvnnz commented on #83
Hi @CarloCattano , still waiting for JUCE to implement it. Fingers are crossed...

[2021-08-18 09:09] dvzrv commented on #83
As pointed out [earlier](https://github.com/monocasual/giada/issues/83#issuecomment-560001179), this is very unlikely to ever happen: https://github.com/juce-framework/JUCE/issues/123#issuecomment-520725413

It is the more viable option to either use https://github.com/DISTRHO/DPF or https://github.com/DISTRHO/JUCE as upstream JUCE does not seem to be interested at all.

[2021-08-19 02:01] Xpktro commented on #419
Can confirm the full VST2+3 build is working in my setup thanks to the instructions given by @CarloCattano, thanks!

Note: The copy command for the vst2 SDK just need a  ` * ` after the first ` cp ` argument.

[2021-08-19 09:18] gvnnz commented on #498
@CarloCattano thanks for your kind words! If I understand your point correctly, you can hear what you play without recording: just press the "arm" button on any channel and send MIDI events to it. The whole thing works whether the transport is stopped or running. Does it make sense?

[2021-08-19 09:19] gvnnz commented on #499
Could this be related to #497 ?

[2021-08-19 10:24] CarloCattano commented on #498
Yes @gvnnz thats intended to be like that , but for some reasons in my builds or config setup it isnt ?
I only can hear midi sent to my outputs if clip is recording . But if armed and not in recording I wont get midi output . Same while recording a loop , I hear the notes only after the loop is finished by clicking record on both clip and master and play the clip

Does it make sense ? I will test

[2021-08-19 10:28] CarloCattano commented on #499
It happens in  0.18.2 on my build for the pi , and on  0.18.1 on windows (official build release)  , but on 0.15.2 is behaving as expected  ( raspbian repo )

[2021-08-19 16:32] CarloCattano commented on #419
Right ,
´´´
cp vstsdk2.4/pluginterfaces/vst2.x/ -r pluginterfaces/
[code]

[2021-08-20 09:00] #482 closed

[2021-08-21 09:36] gvnnz commented on #498
I got it now: you want to send MIDI data through armed channels _outside_ Giada: currently the behavior works only internally, that is for VST plug-ins. Good point, I'll add it to the TO-DO list.

[2021-08-21 10:31] CarloCattano commented on #499
[code]
in L46 of midiSender.cpp this seems to take care of it ?

[2021-08-21 10:39] CarloCattano commented on #499
[code]

[2021-08-21 22:03] #479 closed

[2021-08-24 17:46] CarloCattano commented on #499
Sorry , I checked and meant that MIDI output is being played , ignoring clip state. But the midi data going to plugins is fine
Then I guess this is safe to write to prevent that

[2021-08-25 08:01] Xpktro opened #503 "Multiple Oneshot-simple channels not being triggered simultaneously"
**Environment**
- OS: windows 10
- Giada version: 0.18.2

**Describe the bug**
Since there's no know way (for me at least) to have multiple sample chops in a single channel, I was sampling a melodic instrument by assigning one note per channel, I set each channel to be of the type "Oneshot - press" and assigned each one to a different key keyboard key.

I was expecting that when I would press two

[2021-08-28 16:36] gvnnz commented on #503
@Xpktro you are probably hitting a [hardware limitation of your keyboard](https://gaming.stackexchange.com/questions/6669/how-do-i-remove-the-limit-on-pc-keyboard-button-presses). Can you reproduce the issue with a MIDI controller?

[2021-08-29 19:02] Xpktro commented on #503
@gvnnz I'm currently using a keyboard with n-key rollover, I also tried assigning the keys to different sections of the keyboard (one channel to a letter, the other to numeric keyboard) to no avail.

I haven't tried with a physical MIDI controller but used VMPK and set up MIDI input to the same channels. I was able to control those channels as expected with such virtual midi controller receiving i

[2021-09-04 04:24] Xpktro commented on #499
I'm experimenting this as well in the 0.18.2 version (windows). Would try on my pi build but I gues it will behave the same.

[2021-09-04 08:08] CarloCattano commented on #499
It is @Xpktro, you can add my dirty fixes above, or take a look at my testing forks for now.i can't compile from last pushes, I'll wait for the good news ❤️

[2021-09-07 13:53] gvnnz commented on #83
Surprise surprise... https://github.com/juce-framework/JUCE/issues/123

[2021-09-07 18:13] CarloCattano commented on #83
Woha! This could be big, and enrich Giada a lot with the open source lv2 available

[2021-09-10 10:03] gvnnz commented on #499
Should have been fixed in e2e9ae3cbaf4208bf0a02212e8e390efd600f5dd .

[2021-09-11 11:34] CarloCattano commented on #499
Indeed ! thanks !

[2021-09-11 11:34] #499 closed

[2021-09-11 15:16] CarloCattano commented on #85
Check the [osc implementation in C++ here](https://github.com/jean-emmanuel/seq192) , its super smart and working so good . Is the same developer of [open stage control](https://openstagecontrol.ammd.net/)

[2021-09-12 10:00] gvnnz commented on #497
Fixed in 142b0146716f3aa3122472e8fea0cad9c171e9ca.

[2021-09-12 10:00] #497 closed

[2021-09-17 19:49] zoki666 opened #508 "Error opening Giada and I can't ear anything."
**Environment**
- OS: W10
- Giada version: v0.18.2

**Describe the bug**
When I open Giada, I see in a cmd:
_"[init] Giada 0.18.2
[init] Build date: Sep 12 2021
[init] Release build
[init] Dependencies:
[init]   FLTK - 1.3.7
[init]   RtAudio - 5.1.0
[init]   RtMidi - 3.0.0
[init]   Libsamplerate
[init]   Libsndfile - libsndfile-1.0.31
[init]   JSON for modern C++ - 3.9.1
[init]   JUCE - 6.1.0
[KA]

[2021-09-17 21:47] CarloCattano commented on #508
Your inputs are not set, and you don't have any audio channel active armed, so it's really normal that you don't hear anything . It could be beneficial for you to go to the giada docs first, they explain this steps very well

[2021-09-21 11:56] CarloCattano commented on #85
oh , not even needed . Im going to have a look into this and see if it can be "easily" tested out

[2021-09-29 19:29] andrasf opened #512 "VST Plugins not found in new versions on MacOS"
**Environment**
- OS: MacOS 11.6 (20G165)
- Giada version: 0.18.0+

**Describe the bug**
Downloaded 0.18.2, no VST plugins found.
Downgraded to 0.18.1, no VST plugins found.
Downgraded to 0.18.0, 5 VST plugins found.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Plugins
2. Set /Library/Audio/Plug-Ins/VST;/Library/Audio/Plug-Ins/VST3 (in my case)
3. Click 'Scan', see result.

**Expect

[2021-10-02 08:39] gvnnz commented on #512
Weird, we upgraded JUCE to v6.1.0 in Giada 0.18.2, so 0.18.1 should have detected your plugins. It would be nice to compile the latest version (0.18.2) with JUCE 6.0.8 (or earlier) and see if the issue persists.

[2021-10-10 15:10] gvnnz opened #513 "Simplify unique audio file path generator"
Currently we generate something like `audiofile-<N>.wav` in order to avoid audio file names could clash inside a project folder. This is too cumbersome: appending a normal timestamp should be enough the first time an audio file is loaded into a project.

[2021-10-20 21:09] gvnnz opened #514 "Metronome should be disabled while recording in free-loop-length mode"
Having a running metronome is meaningless in such recording mode.

[2021-10-28 00:47] hfiguiere opened #515 "Giada crash with negative MIDI port value."
**Environment**
- OS: Linux
- Giada version: 0.18.1 and 0.18.2

**Describe the bug**
My `giada.conf` had `midi_port_out` set to -2. Giada then crash on startup. I don't know how or why this happened, but it did.

**To Reproduce**
Steps to reproduce the behavior:
1. Set `midi_port_out` to `-2` in giada.conf
2. giada will segfault.

**Expected behavior**
No crash

**Screenshots**

**Additional conte

[2021-10-28 17:36] gvnnz opened #516 "Improve ChannelType::PREVIEW by using One-Shot Pause channel mode"
Currently, [the playhead relocation logic is tricky](https://github.com/monocasual/giada/blob/master/src/glue/sampleEditor.cpp#L317) in the Sample Editor. Using the new One-Shot Pause mode may help in disentangling the mess.

[2021-10-29 14:35] fabulou1 opened #517 "Midi Lightning Message not sent on sample channel stop"
**Environment**
- OS: Win10
- Giada version: v.0.18.2]

**Describe the bug**
Hi, it seems that on the newest Version Midi Lightning Messages are not working correctly. When Playing a sample Channel the current Version sends two Midi Messages instead of just the defined "Playing" Message and when manually Stopping the Channel it again sends two messages. Letting the Sample play to the end does not

[2021-10-31 10:35] gvnnz commented on #517
Hi @fabulou1 , I can confirm the issue here, will be fixed in the next version. Thanks for reporting.

[2021-10-31 10:38] gvnnz commented on #515
Hey @hfiguiere , it would be great to reproduce the root cause of this: why the configuration ended up with -2 as the MIDI device. Did you happen to change MIDI device/soundcard or anything else MIDI-related between two sessions?

[2021-10-31 16:15] hfiguiere commented on #515
I don't remember, the file was a few month old.
But that shouldn't prevent from fixing the code to sanitize the input.

[2021-11-02 09:17] Michaaaaaaaa commented on #480
I have the same Problem on Win10. I can select an input but not an output.
Clicking the checkbox next to it also makes no difference.
Thank you for any help

("US-16x08 ASIO" is the device i want to use but i have the same problem with other/non-Asio devices)
Here's the startup messages:

[init] Giada 0.18.2
[init] Build date: Sep 12 2021
[init] Release build
[init] Dependencies:
[init]   FLTK - 1

[2021-11-04 09:07] dvzrv opened #518 "Automate the tarball release process"
**Is your feature request related to a problem? Please describe.**
A new release has been tagged 4 days ago: https://github.com/monocasual/giada/releases/tag/v0.19.0
The combined source tarball for this release is not available though

**Describe the solution you'd like**
Either automatic pushing of a source tarball to a github release and/or website.

**Describe alternatives you've considered**
B

[2021-11-05 15:04] Michaaaaaaaa opened #519 "Audio input device greyed out"
**Environment**
- OS: Win10 Pro 20H2
- Giada version: v0.18.2

**Describe the bug**
While i can select an audio output device, the field for selecting an audio input device is greyed out.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Configuration'
2. Click on selection box 'Input Device'
3. See that selecting an input device is not possible, as the selection box doesn't react when

[2021-11-05 20:55] enorrmann commented on #519
have you tried to check the checkbox next to the greyed selection ? on the right ?

[2021-11-05 20:56] enorrmann opened #521 "Segmentation fault (core dumped) when enabling audio input"
**Environment**
- OS: [ubuntu 21.10]
- Giada version: [e.g. v0.19.0]
- compiled from source

seg fault when enabling audio input, with alsa and jack

**To Reproduce**
Steps to reproduce the behavior:
1. Go to preferences
2. enable input
3. restart
4. Segmentation fault (core **dumped)**
5.
Jack: JackClient::PortRegister ref = 3 name = Giada:outport 1 type = 32 bit float mono audio port_index = 6
J

[2021-11-05 22:45] Michaaaaaaaa commented on #519
Hi enorrmann, thank you for your reply!
Yes i have, nothing happens(the checkbox doesn't get 'checked' when i click on it, it doesn't react at all)

[2021-11-07 20:37] gvnnz commented on #518
Yes, currently the upload of binaries + source tarball on the website is a manual process. A good improvement for the 1.0 release, when the website will be redesigned.

[2021-11-07 20:40] gvnnz commented on #521
@enorrmann can you please paste here the log messages you get at startup? How to enable logging: Config -> Misc -> Debug Messages -> To standard output

[2021-11-07 23:34] enorrmann commented on #521
emilio@zep:~/git/giada/build$ ./giada
[MidiMapper::init] scanning midimaps directory '/home/emilio/.giada/midimaps/'...
[MidiMapper::init] unable to scan midimaps directory!
[MidiMapper::read] midiMap not specified, nothing to do
[Engine::init] MIDI map read failed!
[KA] using system 0x2
[KA] Opening device out=0, in=6, samplerate=44100

RtApiAlsa::getDeviceInfo: snd_pcm_open error for device (hw:

[2021-11-11 17:56] tblrchstr opened #522 "Running metronome is off the beat"
**Environment**
- OS: all
- Giada version: 0.19.0

**Describe the bug**
The metronome, if running, does not align to the underlying audio data. A delay of few milliseconds is introduced on each tick.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable the metronome;
2. create a new channel (MIDI or Sample) with actions on each beat, 4/4;
3. play the song;
4. See error

**Expected behavior

[2021-11-11 18:00] tblrchstr opened #523 "Number of scanned plug-ins not updated after a scan"
**Environment**
- OS: all
- Giada version: 0.19.0

**Describe the bug**
After a plug-in scan, the number of detected plug-ins does not update in the "N plug-ins found" button.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Config window, "plug-ins" tab;
2. scan for plug-ins (better start from scratch or add a new one);
4. See error: the number of plug-ins does not change.

**Expected

[2021-11-11 18:23] dvzrv opened #525 "0.19.0 crash when opening any VST3 plugin (pipewire-jack/ jack)"
**Environment**
- OS: Arch Linux
- Giada version: 0.19.0

**Describe the bug**
When adding any vst3 plugin, giada crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Giada
2. Click on Fx
3. Select e.g. sfizz or vitalium
4. giada crashes

**Expected behavior**
giada loads the plugin

**Screenshots**
n/a

**Additional context**
[giada-0.19.0-coredump.txt](https://github.com/monocasua

[2021-11-11 18:26] dvzrv commented on #525
This also happens when using the ALSA backend

[2021-11-11 18:36] dvzrv opened #526 "Allow using system version of JUCE"
**Is your feature request related to a problem? Please describe.**
JUCE is shipped as a system package on many downstream distributions.
As it offers cmake integration, it can be found and used like any other dependency.

**Describe the solution you'd like**
Either automatically detect system wide JUCE or optionally offer to detect it on request (e.g. using a cmake option such as `USE_SYSTEM_JUCE`

[2021-11-14 10:14] tblrchstr opened #527 "MIDI lightning learning doesn't work if MIDI input not enabled"
The MIDI learning process for the MIDI lightning setup doesn't work if MIDI input is not enabled first. Sometimes this is confusing in the following screen:

![1](https://user-images.githubusercontent.com/39955275/141676769-55188f52-4335-41be-9f63-eaa84492b4b0.png)

MIDI lightning output is enabled, but learning doesn't work until you enable MIDI input in the "Setup MIDI input" window. The MIDI in

[2021-11-14 10:34] gvnnz commented on #526
Good point. Currently we are using JUCE in a pretty unorthodox way, that is: modules are included "by hand" (see [here](https://github.com/monocasual/giada/blob/master/CMakeLists.txt#L495)) without using the helper functions provided by JUCE and its CMake integration.

[2021-11-14 10:38] gvnnz commented on #517
Fixed in 90318ef3 and later.

[2021-11-14 10:38] #517 closed

[2021-11-14 17:19] #425 closed

[2021-11-14 23:26] AJRepo commented on #304
I too have had this problem on a Ubuntu 20.04 system with hardware  CPU="Intel(R) Core(TM) i9-8950HK CPU @ 2.90GHz" (reporting 6  cores & 12 threads), mem=64MiB and using Pulseaudio for the input/output/system in config. I tried it with setting buffer size from 1024 (default) to 2048 and 4096. Also tried setting "resampling" to "Zero Order Hold (Fast)" without being able to solve the latency issue

[2021-11-15 08:26] gvnnz commented on #304
@AJRepo thanks for reporting. Are you able to reproduce this or is it just random?

[2021-11-15 08:59] gvnnz commented on #525
Hey @dvzrv , it would be great to run Giada through GDB and catch the crash from there. I tested those two plugins on Debian 11:

* sfizz - can't load, not detected
* vitalium - loads up, weird freeze on UI close

Do you get a crash also with https://www.thewavewarden.com/odin2 ?

[2021-11-15 09:47] dvzrv commented on #525
Was that on X11 or wayland?
Was that using pipewire?

I haven't tried that one, but I also don't package it.

[2021-11-15 12:43] Michaaaaaaaa commented on #519
So nobody has an idea what might be wrong? Don't want to annoy, but if there's no solution i want to know so i can move on.

[2021-11-15 14:15] AJRepo commented on #304
I am able to reproduce this.

[2021-11-16 22:28] enorrmann opened #528 "Midi output setup is not saved (or not loaded)"
**Environment**
- OS: ubuntu  21.10
- Giada version: 0.18.2

**Describe the bug**
Midi output setup is not saved (or not loaded)

**To Reproduce**
1. add a sample channel
2. setup midi output, learn, key assignment is showing ok and working
3. save and quit
4. open giada and the same project
5. go to setup midi output, the assignments are empty

[2021-11-16 22:30] enorrmann commented on #528
nevermind I just found version 19 fixes this

[2021-11-16 22:30] #528 closed

[2021-11-17 17:56] #522 closed

[2021-11-19 17:56] Xpktro commented on #519
@Michaaaaaaaa I stumbled upon this issue in Linux while swapping sound systems. Somehow the Giada config file is not being refreshed properly. Try deleting it first and restarting.

[2021-11-19 18:07] gvnnz commented on #304
RtAudio has been updated to version 5.2.0/6.0.0beta today (a71467fbf21ed99ab711761d982e4b019c2fd4bf), things might have improved now, at least in the development version.

[2021-11-19 18:20] gvnnz commented on #519
@Michaaaaaaaa  this is odd. Once checked, the input list should get enabled: you can now choose the input device from the drop down menu (initially it's empty). Is that menu empty for you?

[2021-11-21 10:17] gvnnz opened #529 "Add Vcpkg manifest file"
https://github.com/microsoft/vcpkg/blob/master/docs/users/manifests.md

[2021-11-21 11:30] #523 closed

[2021-11-22 14:04] Michaaaaaaaa commented on #519
Hey, thank you both for your help!

I did, and it did change something: I was able to use Direct Sound as sound system, but not Asio.
However, i took a look at the config file and found the line (after selecting Direct Sound):
"sound_device_in":5,"sound_device_out":1,"sound_system":3

after selecting Asio as sound system (and the input being back to greyed out), the line became:
"sound_device_in":

[2021-11-23 08:59] gvnnz commented on #519
Thank you for your feedback @Michaaaaaaaa . Looks like there are some refresh issues with the config file, especially when it comes to the input sound device. It might be worth writing some CI tests to iron this out.

[2021-11-23 09:01] gvnnz commented on #515
See also #519 .

[2021-11-23 11:38] Michaaaaaaaa commented on #519
To be clear, the program did NOT crash, it was still usable. What i meant was that only the input select box was dead.

[2021-12-05 16:04] gvnnz commented on #258
Done in ade94c5049f153d787cf34e5199209084cfefaba.

[2021-12-05 16:04] #258 closed

[2021-12-10 10:23] gvnnz commented on #515
Fixed in 3ee283433d9d30715d36fb31f63e7a4a2070e61f.

[2021-12-10 10:23] #515 closed

[2021-12-11 08:35] gvnnz commented on #457
No feedback since June, closing.

[2021-12-11 08:35] #457 closed

[2021-12-12 18:10] gvnnz opened #532 "[Action Editor] "Kill chan" action name is puzzling"
Change it into something more meaningful e.g. "Kill event", "Kill note", ...

[2021-12-15 22:49] tblrchstr opened #533 "Can't load new samples after closing a project"
**Environment**
All

**Describe the bug**
Can't load samples into sample channels after closing a project

**To Reproduce**
1. Open an existing project
2. Close it (File -> Close project)
3. Create new Sample Channel
4. Try to load a new audio file in it
4. See error: sample stays empty

[2021-12-15 22:56] tblrchstr opened #534 "[Action Editor, sample channels] Show play head if "Read Actions" is on"
Currently, the play head in the action editor for sample channels is shown only if the sample is playing. For short samples such as drums - snares, kicks, ... the play head becomes visible for a very brief moment, making it useless. The play head should be visible just if Read Actions is on.

[2021-12-16 01:56] musicinmybrain opened #535 "RTAudio version inconsistency"
**Environment**
- OS: N/A
- Giada version: 0.19.1

**Describe the bug**
The changelog for 0.19.1 says RTAudio is upgraded to 5.2.0, but as of the `v0.19.1` tag, the git submodule references a commit of RTAudio with internal version number ` 6.0.0beta1`.

**To Reproduce**
Steps to reproduce the behavior:
1. Examine the git repository as of tag `v0.19.1`.

**Expected behavior**
RTAudio version is co

[2022-01-02 11:16] gvnnz opened #536 "MixerHandler is doing too much"
Better split the channel management into another subclass like `Channels`. Such class will will take care of adding, deleting, loading, freeing channels.

[2022-01-04 19:41] yurivict opened #537 "Fails to find FLTK despite cmake supporting FLTK"
**Environment**
- OS: FreeBSD 13
- Giada version: 0.19.1

**Describe the bug**
[code]

cmake-3.22.1 has files to find FLTK:
[code]
but giada still fails to find it.

fltk-1.3.8

[2022-01-06 21:45] tblrchstr opened #538 "Recursive buffer rendering?"
Currently is not possible to play very short audio samples in continuous loop modes such as single.endless mode. This is because the audio data gets rendered only twice (at most): the [normal chunk while playing](https://github.com/monocasual/giada/blob/master/src/core/channels/samplePlayer.cpp#L147) AND [the head of the sample in case of looping](https://github.com/monocasual/giada/blob/master/sr

[2022-01-06 22:14] #534 closed

[2022-01-08 09:53] gvnnz commented on #537
Happy new year @yurivict ! :tada:

We are still stuck with FLTK 1.3.4 in our build workflow: that could be the reason why we don't get such error. I'll update FLTK to the latest version for Giada v.0.20 and report back.

[2022-01-08 09:56] gvnnz opened #539 "Update FLTK to v.1.3.8"
Related: #537 ?

[2022-01-08 10:29] #533 closed

[2022-01-08 10:43] #532 closed

[2022-01-08 17:42] tblrchstr opened #540 "Deleting a soloed channel makes all other channels silent"
Solo-ing and un-solo-ing any other channel brings back the audio.

[2022-01-08 21:15] tblrchstr opened #541 "Main window title not updated when saving a new project"
The main window title should reflect the project name as soon as a new project is saved on disk.

[2022-01-08 21:54] tblrchstr opened #542 "Ability to sort plug-ins in both ascending and descending order"
Currently only ascending is available.

[2022-01-08 21:55] tblrchstr opened #543 "Ability to filter plug-ins by name"
Handy feature when you need to quickly search for a plug-in by name. An additional search box is required.

[2022-01-08 21:56] tblrchstr opened #544 "Ability to filter plug-ins by format"
Such as VST only, VST3 only, ....

[2022-01-09 11:04] gvnnz opened #545 "Ability to filter installed plug-ins"
* by name;
* by format (VST2, VST3, ...);
* by developer.

[2022-01-09 11:04] gvnnz commented on #543
Merging this issue into #545.

[2022-01-09 11:04] #543 closed

[2022-01-09 11:04] gvnnz commented on #544
Merging this issue into #545 .

[2022-01-09 11:04] #544 closed

[2022-01-09 11:37] #540 closed

[2022-01-09 13:28] danfe commented on #537
This is pretty easy to fix, just follow the [documented procedure](https://cmake.org/cmake/help/latest/module/FindFLTK.html).  The following simple patch allows the program to find and correctly link FLTK (supposedly any version).
[code]

[2022-01-11 20:40] gvnnz commented on #537
@danfe your patch works, but [the official FLTK documentation](https://github.com/fltk/fltk/blob/release-1.3.8/README.CMake.txt#L433) suggests the following:

[code]

[2022-01-11 21:08] #541 closed

[2022-01-11 21:47] tblrchstr opened #546 "Plug-ins are sorted alphabetically in a weird way"
**Environment**
All.

**Describe the bug**
The plug-in list is only partially sorted, as seen in the screenshot below.

**To Reproduce**
Sort plug-ins by name in the installed plug-ins window.

**Screenshots**
![Screenshot_2022-01-11_22-45-17](https://user-images.githubusercontent.com/39955275/149026539-816f3bc9-47ad-4a3a-9304-0a8a986a7ef6.png)

[2022-01-11 22:04] tblrchstr opened #547 "Action Editor not refreshed correctly when changing BPM"
**Environment**
All.

**Describe the bug**
Visual artifacts remain in the background grid.

**To Reproduce**
1. Open the Action Editor (either for samples or midi)
2. change the BPM value while the Action Editor window is open
3. see the artifacts.

**Additional context**
The artifacts go away by closing and reopening the window.

[2022-01-11 22:45] tblrchstr opened #548 "The Sample Editor sometimes freezes Giada"
The issue seems to be caused by the Swapper being stuck on the `swap` method. It happens when the sample is playing in the project and the pitch is changed from the Sample Editor.

I could reproduce it only with very short samples.

[2022-01-12 04:00] danfe commented on #537
Any (working) approach is okay so long as it does not **use** `FLTKConfig.cmake` and friends, but just the CMake glue.

[2022-01-12 21:41] gvnnz commented on #537
Fixed in 67bab1865cc340f5df556016542e05b821677915. @yurivict does it work for you?

[2022-01-22 10:24] toofunkybeats opened #549 "No VST plugins found"
**Environment**
- OS: Windows 10 21H1 64bit
- Giada version: 0.19.1 (actually 0.19.2, but the log for the 0.19.2 download says 0.19.1)

**Describe the bug**
This might be related to #512, the behaviour is very similar - i didn't check with an older version (yet) though.

Basically i can't find a way to get giada to recognize _any_ VST plugins.

**To Reproduce**
Steps to reproduce the behavior:
* S

[2022-01-22 16:54] gvnnz commented on #549
Thanks for reporting @toofunkybeats . Are you trying to load VST2.x plug-ins, that is the deprecated format, or VST3?

[2022-01-22 18:18] toofunkybeats commented on #549
Thanks for the pointer!

Looks like it doesn't eat the folders containing the .dlls - instead I got it scan 1 plugin by pointing at a folder that contains a .vst3 file.
Not used to this, as all other VST hosts I know work with the .dll folder, but at least it got me starting

unfortunately trying to load HALion 6 results in a crash:
[code]

I'll see if i have more luck with NI VSTi, but it looks l

[2022-01-23 09:26] gvnnz commented on #549
This is interesting. It might be a limitation in JUCE, the library we are using for VST support. Or maybe it is the correct way to handle VST3 plug-ins, by keeping the dll files in their `.vst3` folder.

Is it 100% reproducible every time you load it?

Also I see this one:

it means the list of scanned plug-ins can't be saved. Are you running Giada inside a read-only directory?

[2022-01-23 15:20] toofunkybeats commented on #549
No, definitely writable.
i started testing with giada 0.20 - it looks like once I made it recognize a VST instrument, it won't save _any_ configuration any more.

I started giada.exe from a terminal to make sure the current working directory is correct. It only saves if I didn't scan for plugins. Once I scan, it won't save settings any more.

Is there a way to get more detailed logs out of the app

[2022-01-24 16:27] gvnnz commented on #549
All configuration files? The list of scanned plugins _and_ the `giada.conf` file?

What you see is the current maximum log level. You have to step through a debugger if you want to dig deeper.

[2022-01-24 17:09] mxmilkiib opened #550 "Version number in release title field?"
**Is your feature request related to a problem? Please describe.**
Items on https://github.com/monocasual/giada/releases don't include version numbers in their titles. This makes it impossible to parse the version from the releases.atom feed.

**Describe the solution you'd like**
If release titles could be prefixed with the version numbers, like "v0.20.0 Alicanto"?

**Additional context**
This is

[2022-01-24 17:42] toofunkybeats commented on #549
yes. I can save any configuration, but only by exiting giada _before_ scanning for plugins. After that, no config gets saved (which also means, plugins.xml can never contain more than just an empty xml node).

Hmm... i don't have devtools installed on my system.
I might kindly ask to log exceptions in the future :) that might help troubleshooting without having a debugger (or knowing how to use it

[2022-01-26 19:58] gvnnz commented on #550
Interesting, I wasn't aware of the atom thing. Can't you just parse the `id` tag? E.g.:

`<id>tag:github.com,2008:Repository/6603254/v0.20.0</id>`

[2022-01-26 20:10] mxmilkiib commented on #550
Unfortunately there's no facility in the Drupal 8/9 Feeds ecosystem for conditional parsing, and there are radically different variations used for the id element (e.g SourceForge feeds give just a hash for id).

[2022-01-26 21:06] gvnnz commented on #550
OK cool, we'll add the version number along with the release title. I'll start from the last one (v0.20.0).

[2022-01-27 07:55] #550 closed

[2022-01-27 17:29] yurivict commented on #537
0.20.0 still has this problem.

[2022-01-27 20:13] tblrchstr opened #551 "Cloning a channel with VSTs in it is buggy"
**Environment**
All.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new channel with some VST plug-ins
2. clone it
3. remove all plug-ins from the cloned channel
4. open plug-in list from the original one -> crash

[2022-01-28 18:36] dvzrv opened #553 "Unsafe use of fprintf() and printf()"
**Environment**
- OS: Arch Linux
- Giada version: 0.20.0

**Describe the bug**
The code does not compile with `-Werror=format-security` due to unsafe use of `fprintf()` and `printf()` in
https://github.com/monocasual/giada/blob/0feebd6b111db597354f459d0ced296309234ac3/src/utils/log.h#L71-L94

**To Reproduce**
Compile giada with `-Werror=format-security`

[code]

Full build log:
[giada-0.20.0-build

[2022-01-28 18:56] dvzrv commented on #525
Sorry, but giada has too many bugs on every release for me to handle it further as a package.
I will remove it from the official repositories on Arch Linux and move it back to the AUR.
Additionally I will unsubscribe from the tickets I created.

Sorry, but I have too many packages to spend this large amount of time on one single package.
Good luck!

[2022-01-29 01:12] keryell commented on #553
This is a false positive since the compiler cannot see the format through `giada::u::log::print`. Before https://github.com/monocasual/giada/pull/402 the compiler was not confused.
That said, a cleaner solution is to use the Pythonesque but type-safe C++20 `std::format` or in the meantime to depend on https://github.com/fmtlib/fmt
Of course this means modernizing all the debug messages. :-(
Perhap

[2022-01-29 08:58] gvnnz commented on #549
The configuration file is saved when you quit Giada: if it crashes -> no clean quit and so the configuration file is not saved.

This is a good idea! Also we should make plug-in crashes less "damaging" - maybe running them in a separate process? Needs investigation.

[2022-01-29 08:59] gvnnz commented on #551
Fixed in 0feebd6b111db597354f459d0ced296309234ac3.

[2022-01-29 08:59] #551 closed

[2022-01-29 09:01] gvnnz commented on #525
I'm not super familiar with the Arch Linux / AUR packaging process (not sure why you have to fix bugs) but yeah, `0.x` in the version number means we will break things fast and often, until `1.0` :) Thanks for your feedback anyway!

[2022-01-29 09:03] gvnnz commented on #553
Right. @keryell we'd love to switch to C++20 and `std::format`. Year 2022 might be the right time to do it...

[2022-01-29 09:06] gvnnz commented on #537
@yurivict in `0.20.0` we follow the official instructions coming from the FLTK documentation. Maybe there's something wrong with their CMake script?

[2022-01-30 09:48] gvnnz commented on #143
Done in b6dd6b2278f4aaf789870c94c7f9076389a51e8f, closing.

[2022-01-30 09:48] #143 closed

[2022-02-01 03:26] musicinmybrain commented on #553
Previously: https://github.com/monocasual/giada/issues/447

[2022-02-01 17:43] gvnnz commented on #535
0f62d807 RtAudio updated to 6.0.0beta1. Changelog entry will follow. Closing.

[2022-02-01 17:43] #535 closed

[2022-02-01 18:08] gvnnz commented on #539
Done via https://github.com/microsoft/vcpkg/pull/22487. Closing.

[2022-02-01 18:08] #539 closed

[2022-02-06 11:03] gvnnz opened #555 "Use new FLTK Grid Container widget for layout"
In development, will be available in FLTK 1.4: https://github.com/fltk/fltk/issues/256

Will definitely help fixing the hot mess our layout is right now.

[2022-02-06 11:05] gvnnz opened #556 "Ability to change audio and MIDI engines on the fly"
Currently Giada needs to be restarted in order to apply the changes.

[2022-02-08 08:07] gvnnz commented on #178
DPI adjustment How-to in FLTK 1.4: https://github.com/fltk/fltk/issues/371#issuecomment-1032030182

[2022-02-11 18:37] gvnnz commented on #344
Done in fa9124f3c175fa15fffd0fd00e541e81be901fb3.

[2022-02-11 18:37] #344 closed

[2022-02-12 18:36] #547 closed

[2022-02-13 16:49] bradphelan commented on #519
Found a work around. With giada.exe not running. Open the giada.conf in a text editor.  Change the setting

[code]
to
[code]

Start giada.exe

It will tell you that the audio input device is incorrectly configured. But now when you open the configuration dialog the option to choose a sound input is now available. When I closed giada.exe and inspected the configuration file I found.

[code]

[2022-02-15 03:51] MiLO83 opened #557 "- no ports found - (MIDI)"
**Environment**
- OS: Win 11 x64
- Giada version: 0.20.0

**Describe the bug**
- no ports found - (MIDI)
I have loopbe1 and loopmidi installed it detects neither. :(

**Screenshots**
![Screenshot 2022-02-14 194938](https://user-images.githubusercontent.com/5951434/153989290-fcd2291f-ea4d-4c5c-b056-13c455ca5475.png)

[2022-02-15 10:50] gvnnz commented on #557
Hey @MiLO83  , you have to enable it by checking the box on the right. Both for Output and Input port. Hope it helps.

[2022-02-15 17:56] gvnnz commented on #546
I tried to look into this one. Nothing seems wrong on our side. We should ask and/or report the issue to JUCE. Moving to 1.0.

[2022-02-15 18:23] yurivict commented on #537
I think it would be best if giada would be able to find FLTK even if FLTK wouldn't have cmake files installed.
cmake officially supplies FLTK-discovering macros:
[code]

[2022-02-16 22:54] CTBlaze commented on #545
TOP enhancement! I use by develoep quite often, actually
by format, NICE, but that would require a compile with supporting both VST2 and VST3 in the first place ;)

[2022-02-17 12:58] gvnnz commented on #545
@CTBlaze new formats are coming: #83 is the most important one.

[2022-02-17 18:04] gvnnz opened #560 "[UI] Add icons for the channel mode in the drop down list"
From https://github.com/monocasual/giada/discussions/559:

(that way, users can relate to the icon and it's textual/semantic meaning already while choosing it, while seeing see options)

[2022-02-17 21:07] CTBlaze opened #561 "Giada does not detect/recognise connected MIDI Device w/o audio interface"
**Environment**
- OS: Win11 Home, latest updates
- Giada version:  v0.20.0

**Describe the bug**
I am evaluating and testing Giada.
With no audio interface connected, I hooked up my old Korg nanoPad2 to the laptop, via USB.
the nanoPad is deteced by Korgs controller editor, and also by https://www.midimonitor.com/ (using Midi in Chrome Browser).
In Giada, the 'learn' in global or in channel contex

[2022-02-17 21:17] CTBlaze commented on #561
Oh boy, I did not realize one has to ENABLE the ports by clicking the rectangle on the right, to see the port options.
Also, for every change (also port change, if more midi controllers are connected) in that setup one has to restart Giada to test it, whoa, that's enerving. Why has one to choos one port, why not listen to all controllers connected?
Sorry I have created any issue which is not an is

[2022-02-17 22:20] CTBlaze commented on #561
So please make the 'port' list an enumeration with multiple selections and not a exclusive choice.
![image](https://user-images.githubusercontent.com/99221765/154580242-411d2bb8-4a33-4d0e-9040-19cd99c5e7f8.png)

Also, please don't steal/swallow the MIDI message from the chosen inputs from the MIDI pool, but keep mirroring them (at least as an option) - e.g. the nanoPad2 as an input is not visible

[2022-02-17 22:25] CTBlaze commented on #561
When I did do learn, after Giada recognised one of the controllers, and I enabled the 'port', there is a hex value, liek in the screen below...
Can you please
- specify which tyoe of message it is (CC, PC, Note)
- show a human readable value
- make a distinction between momentary and toggle (e.g. for start stop it should be a toggle, for tother stuff it could also be momentary...)
![image](https:/

[2022-02-17 23:58] CTBlaze opened #562 "Windows: Audio Interface cannot be configured as input device"
WHatever I do, and in any other host it's gets recognised and works perfectly, my Steinberg/Yamaha UR22MKII cannot be selected as input in Giada 0.20.0, in WIndows 11 Home, latest Updates. I am very frustrated, after hours of issues with MIDI and now the actual interface input, I have not properly used Giada ONCE yet ;(
It MIGHT be the case, that the enumeration in Giada for the selection in confi

[2022-02-18 10:09] gvnnz commented on #561
@CTBlaze thanks for the analysis. I kindly ask you to open one issue per topic, this will help us with the tracking.

[2022-02-18 10:16] gvnnz commented on #562
@CTBlaze can you please paste here the debug output you get on startup? How to enable logging: *Main Menu* -> *Config* -> *Misc* tab -> *Debug Messages* -> *To File*.

This will generate a new file alongside the executable containing the debug log messages. Delete the existing one, if any, before launching Giada. Thanks!

[2022-02-18 10:49] gvnnz commented on #562
No need for that. Restart is currently required only for Audio/MIDI device changes

Not necessarily. Just make sure your interface is connected/enabled before running Giada. In other words: 1) enable debug log 2) connect your interface 3) restart Giada and grab the debug info.

[2022-02-18 10:50] CTBlaze commented on #562
there you go, there IS an error with the RtApiAsio::getDeviceInfo ... not the MIDI ports of the interface are detected. BTW, the interface works fine in any other host, Reaper, Maschine, Guitar Rig, ...
---
[init] Giada 0.20.0
[init] Build date: Jan 22 2022
[init] Release build
[init] Dependencies:
[init]   FLTK - 1.3.7
[init]   RtAudio - 6.0.0beta1
[init]   RtMidi - 3.0.0
[init]   Libsamplerate
[

[2022-02-18 10:53] CTBlaze commented on #562
Here is another out, after tickign the 'enable' rectangle/button next to the empty input list
[init] Giada 0.20.0
[init] Build date: Jan 22 2022
[init] Release build
[init] Dependencies:
[init]   FLTK - 1.3.7
[init]   RtAudio - 6.0.0beta1
[init]   RtMidi - 3.0.0
[init]   Libsamplerate
[init]   Libsndfile - libsndfile-1.0.31
[init]   JSON for modern C++ - 3.9.1
[init]   JUCE - 6.1.2
[KA] Compiled R

[2022-02-18 10:55] CTBlaze commented on #562
wait, there is a weird autoformating going on... here again, as code qoute:
`[init] Giada 0.20.0
[init] Build date: Jan 22 2022
[init] Release build
[init] Dependencies:
[init]   FLTK - 1.3.7
[init]   RtAudio - 6.0.0beta1
[init]   RtMidi - 3.0.0
[init]   Libsamplerate
[init]   Libsndfile - libsndfile-1.0.31
[init]   JSON for modern C++ - 3.9.1
[init]   JUCE - 6.1.2
[KA] Compiled RtAudio APIs: 3

[2022-02-18 10:57] CTBlaze commented on #562
[giada_audiointerface_no_input_selection_01.log](https://github.com/monocasual/giada/files/8096520/giada_audiointerface_no_input_selection_01.log)

[2022-02-18 11:01] CTBlaze commented on #562
as a reference, here the Reaper audio device config tab:
![image](https://user-images.githubusercontent.com/99221765/154670502-b57060a0-7937-4936-a95c-7ef859837697.png)

[2022-02-18 11:04] CTBlaze commented on #562
So why is Giada trying to initialize Maschine MK3 driver, although that's not selected by me?
(is there maybe a problem with enumerating the ASIO drivers? since device 0) which must be the Mascine MK3 ASIO does not have a name in your debug info, PLUS  I also cannot see it in the config dialog)

[2022-02-18 11:18] CTBlaze commented on #562
OK, my assumption was right, Giada had a problem with the Maschine MK3 ASIO driver, nd although I selected the Yamaha/Steinberg in the device drop down, it tried to initialize the Maschine MK3 , which is not present.
I uninstalled that Maschine MK3 driver, and NOW the enumeration works nicely, see new log, and screen.
Still, the enumeration of devices in Giada may have issues, as you might find fr

[2022-02-18 12:08] CTBlaze opened #563 "Windows: Some (specific vendor?) VST3 plugins do not have any impact, neither on sample channel, nor on input, nor on output"
Now I can record via audio interface, I tried different plugins, first on sample channel, then on input and output.
The audio just don't seem to be routed there (or back), no impact of the FX on the audio at all.
Log attached.  [giada.log](https://github.com/monocasual/giada/files/8096937/giada.log)
example screen, no errors apparently
![image](https://user-images.githubusercontent.com/99221765/15

[2022-02-19 08:28] gvnnz commented on #557
On a second thought, I think the available ports should be scanned on startup, regardless of the port status (enabled or disabled). This will improve the user experience.

[2022-02-19 08:36] gvnnz commented on #562
Yeah looks like something is wrong with the Maschine MK3 driver, as reported in the logs here:

[code]

This is because all existing drivers/interfaces are scanned on startup, in order to fill the menu of available devices in the Configuration panel.

Unfortunately we have little control over which driver/interface is supported in Giada, since we rely on an external library ([RtAudio](https://gith

[2022-02-19 08:41] gvnnz commented on #563
According to the screenshot there's no sample loaded in your channel, so nothing gets processed. If you want to route incoming audio to that channel for recording, you have to "arm" it first (the record button, 2nd one from the left). If you also want to hear it, select "input monitor" from the channel's drop-down menu.

[2022-02-19 08:44] gvnnz commented on #537
@yurivict but as far as I understand that's exactly the deprecated approach @danfe warned against?

[2022-02-19 11:57] CTBlaze commented on #562
OK, understood, re RtAudio et al.
brainstorming:
Since in my case the Maschine MK3 driver was scanned, but omitted for the Giada list due to the error (which is correct),
still I couldn't use the selected Yamaha/Steinberg ASIO properly, since it's inputs were not recognized. So there might still be a bug in Giada while enumerating the interfaces and addressing them later, or with filtering the lis

[2022-02-19 12:05] CTBlaze commented on #563
Ciao Giovanni, sorry the screenshot made that impression, just wanted to show the loaded VST.. ;)
After finally being able to record (see my initial audio interface issue),
of course I spend MANY HOURS to get it right, tried everything.
Recorded samples, loaded samples from disk, tried FX in the channel level, at input and at output level.
In no case the loaded and enabled VSTs had any impact on t

[2022-02-19 12:25] CTBlaze commented on #563
PS: just now it crashed, while having the FX dialog open, removed a (non working) VST, selected another, and on OK it crashed, force close, nothing in the logs.
Also, NOTHING about recording a sample in the log at all - is that on purpose?

[2022-02-19 12:39] CTBlaze commented on #563
OK, some more testing:
I can confirm that audio is being SENT to FX, see screen with meter plugin. yet, any FX that should have an audible impact, do not. Have to try instrument VST to see if geenrated audio arrives in Giada, so far I have only tried effects processing the audio played by Giada.
![image](https://user-images.githubusercontent.com/99221765/154801075-25641191-bd51-4076-babd-27f494e0c

[2022-02-19 12:41] CTBlaze commented on #563
here a notification output from the stdout, thought it might interest you:
![image](https://user-images.githubusercontent.com/99221765/154801209-c399bb29-a054-4d18-8eaa-92b265b11a7f.png)

[2022-02-19 15:20] yurivict commented on #537
No, @danfe for some reason doesn't want to add cmake files to FLTK package ans asks to support both ways to detect FLTK.

[2022-02-20 08:51] gvnnz commented on #537
OK so I'm officially lost at this point. @yurivict please feel free to submit a patch/PR that fixes the problem you are describing. I'm moving this issue to 1.0 milestone.

[2022-02-20 21:20] CTBlaze commented on #563
more news: I tried a VST3 from Audiothing today... and THAT one worked!?
Any idea, why all my Native Instruments or Plugin Alliance (major market players) would not work in Giada?
As in: no impact on audio (is the VST routing bonkers?)
![image](https://user-images.githubusercontent.com/99221765/154864751-c8970db8-e3fb-4182-bbfb-857c7c80118c.png)

[2022-02-20 21:31] CTBlaze commented on #563
also, ROLAND Instrument VST3 seem to work! Notes I did put in the action editor in a test MIDI channel come out fine of the synth engine and out of the speakers.
![image](https://user-images.githubusercontent.com/99221765/154865087-bdcad282-5b0c-43c4-91cc-f6cce53a00d9.png)

[2022-02-20 21:57] CTBlaze commented on #563
So how can we find out what's wrong with the ones from Native Instruments , or some from Plugin Alliance, like from Unfiltered Audio? THis one does not have any impact on the audio at all ;( works fine in other hosts
![image](https://user-images.githubusercontent.com/99221765/154866084-f339dbf6-79e2-43c9-a7fd-775013a86319.png)

[2022-02-20 22:05] CTBlaze commented on #563
ALso for Overloud TH3 VST3, the audio does not even arrive... ;(
![image](https://user-images.githubusercontent.com/99221765/154866319-df0b9746-8c30-43f7-92db-22d11c7ba041.png)

[2022-02-21 10:51] danfe commented on #537
There's nothing deprecated about using CMake native scripts, where did I warn against it?

Well, the reasons are rather sound to me: it would break certain things and that would require additional fixing, including generated CMake files themselves (e.g. `$WRKSRC` gets embedded in them), for no real benefits.  CMake provides full support for locating FLTK bits by itself.

I've provided **working**

[2022-02-22 23:28] CTBlaze commented on #563
So which do I have found not working so far? VST3s from the following vendors/providers:
- Native Instruments
- Overloud
- Unfiltered Audio
- Togu Audio Line (TAL)

@gvnnz would you care to try a free TAL VST3 plugin yourself?
see https://tal-software.com/products in the free plugins section
Native Instruments also has trials of course, e.g. for Driver, Supercharger, Phasis etc.

[2022-02-25 13:34] gvnnz commented on #563
@CTBlaze I'm currently using [TAL reverb 4](https://tal-software.com/products/tal-reverb-4) on Linux and it works as expected. Could this be a Windows issue? Can you try it too?

Later on I'll give it a spin on Windows and see what happens. I'll also try some of the Native Instruments demos. I'll keep you posted.

[2022-02-25 13:36] gvnnz commented on #537
A PR would be very welcome.

[2022-02-25 13:38] gvnnz commented on #562
Let's keep this open as a memo for the future. Thanks.

[2022-02-25 23:46] CTBlaze commented on #563
@gvnnz I do confirm that TAL Reverb 4 works fine, in Windows. Can you please try the [TAL Filter-2](https://tal-software.com/products/tal-filter) please? That one does not seem to work here... (sorry I only tested the filter of TAL)
TH3 by Overloud doesn't get the audio (no input visible in the plug, no impact audible).
The Native Instruments FX, Like Choral, Phasis, Driver, Supercharger - startup

[2022-02-27 21:19] CTBlaze commented on #563
Update - no better news - I upgraded to Overloud TH-U Guitar Modeling software.
Same behaviour as with TH-3 - the audio from the Giada sample channel does arrive at the VST3 plugin... dang
![image](https://user-images.githubusercontent.com/99221765/155900287-32c80c9f-599a-4d90-9742-7d98cf092759.png)

[2022-03-03 13:06] umlaeute opened #570 "giada-0.20.1 fails to build from source with g++-11"
**Environment**
- OS: Debian/sid
- Giada version: 0.20.1
- compiler: g++ (Debian 11.2.0-18) 11.2.0

**Describe the bug**

giada fails to build from source with g++-11, as it uses `size_t` without also importing the `std` namespace in https://github.com/monocasual/giada/blob/e53867fd9e5ded0f173837fe30aa9aaa34c48c05/src/gui/elems/basics/flex.cpp#L93-L94

**Screenshots**

https://salsa.debian.org/mul

[2022-03-03 13:08] umlaeute commented on #570
ah, i've just seen https://github.com/monocasual/giada/pull/566 which fixes this

[2022-03-03 17:08] gvnnz commented on #570
#566 merged, closing. Thanks for reporting

[2022-03-03 17:08] #570 closed

[2022-03-03 20:45] gvnnz opened #574 "Pre/Post FX mute and solo buttons"
From discussion https://github.com/monocasual/giada/discussions/569.

[2022-03-06 15:03] gvnnz commented on #563
I was able to reproduce this with any plug-in that takes both MIDI and audio in input (like TH-U for example). A fix is coming soon.

[2022-03-06 20:49] CTBlaze commented on #563
Bene, bene. Grazie!

[2022-03-10 20:17] tblrchstr opened #575 "Ability to open more than one plug-in UI"
Currently only one VST window can be opened at once. Having more than one visible is useful, so you can tweak parameters manually (with the mouse) across different plugins.

EDIT: multiple VST windows _can_ be opened, but only for VSTs from the same channel.

[2022-03-10 21:32] gvnnz commented on #563
Hopefully fixed in c255236001a88feef296f5112458362115fd2250 and included in version 0.21.0, out soon.

[2022-03-13 21:25] CTBlaze commented on #575
Yes, e.g. a meter and/or spectral analysis plugin in the master slot should always be visible, if the user wishes to... can be very helpful

[2022-03-22 21:17] frijsdijk commented on #562
Hi - I seem to have the same issue with a Focusrite Scarlett Solo (2nd gen). I still had some old audio devices and drivers hanging around, cleaned all that up, Giada logs look clean to me, but still all input devices are greyed out.

![image](https://user-images.githubusercontent.com/4550367/159577482-2b70e2b7-dca7-4c91-a2d2-dc529dc1887f.png)

Logs:

`[init] Giada 0.20.1
[init] Build date: Feb 20

[2022-03-26 08:52] gvnnz commented on #562
@frijsdijk make sure you have input enabled by enabling the checkbox on the left side of the dropdown menu. Does it help?

[2022-03-26 11:19] frijsdijk commented on #562
Right .. that did indeed work. Al though I wasn't able to enable it via de interface, I had to set it to 1 in the gaida.conf file ..

[2022-03-26 20:00] gvnnz commented on #213
Done in d46efdf90f94d31afb203c44b0b5b89755d8481e.

[2022-03-26 20:00] #213 closed

[2022-03-26 20:05] gvnnz commented on #563
Closing. @CTBlaze please feel free to reopen it if the issue persists, once Giada 0.21 is out. Thanks!

[2022-03-26 20:05] #563 closed

[2022-04-03 15:52] ranguli opened #577 "Selecting PulseAudio for Sound System and ALSA for MIDI System will cause a segfault"
**Environment**
- OS: Pop!_OS 21.10
- Giada version: Reproduced on v0.16.2 .deb, and v0.21.0 Flatpak + AppImage

**Describe the bug**
Selecting PulseAudio as the Sound System and ALSA as the MIDI System Clicking "Config" causes a segmentation fault.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Giada from the console (to view stdout/stderr)
2. Click on 'Config'
3. Set the Sound Syst

[2022-04-03 16:17] ranguli commented on #577
I've narrowed down the source of the segfault. I deleted my `giada.conf` and the app no longer crashed. For reference, this is the contents of the configuration file that was causing the crash (beautified for readability):

[code]

[2022-04-08 12:59] luzpaz commented on #553
Just a soft bump to find out if this in progress at all?

[2022-04-08 13:24] luzpaz opened #579 "Giada is missing a wikipedia page"
It does have a wikidata (metadata) page though https://www.wikidata.org/wiki/Q60090952

[2022-04-08 15:22] yurivict opened #580 "There is no install target"
**Environment**
- OS: FreeBSD 13
- Giada version: 0.21.0

**Describe the bug**
There's no ```install``` target.

[2022-04-08 15:43] yurivict opened #581 "giada fails: Your soundcard isn't configured correctly"
**Environment**
- OS: FreeBSD 13
- Giada version: 0.21.0

**Describe the bug**
Application fails while starting:
[code]
No additional details are given.

Jack applications work fine, so the Jack server is up and running.

[2022-04-08 15:45] yurivict commented on #580
Duplicate of https://github.com/monocasual/giada/issues/483

[2022-04-08 15:45] #580 closed

[2022-04-09 16:57] gvnnz commented on #577
@ranguli can't reproduce here on Debian 11. Could you please attach the `giada.conf` file located in `~/.giada`?

[2022-04-09 17:01] gvnnz commented on #553
@luzpaz this is actually a duplicate of #447, still waiting to move to C++20. Not super high priority, but planned for v1.0.

[2022-04-09 17:01] #553 closed

[2022-04-09 17:03] gvnnz commented on #579
Volunteers are welcome :sunglasses:

[2022-04-09 20:12] luzpaz commented on #581
@gvnnz care to weigh-in ?

[2022-04-10 09:46] gvnnz commented on #581
@yurivict please paste here the debug output you get on the command line. Also, attaching the `giada.conf` file located in `~/.giada` might help. Thanks

[2022-04-15 10:35] journey-of-code commented on #519
@bradphelan : I had the same issue on Windows 10.0.19044.1586 (not being able to select an input device). With your method, I could finally enable the input (setting input device to 0 in the config and then selecting it).

[2022-05-09 21:40] ST33LDI9ITAL commented on #475
Is the Mac release being built on latest OS and Xcode versions?

[2022-05-10 07:32] gvnnz commented on #475
@ST33LDI9ITAL try the instructions [here](https://www.giadamusic.com/download) in the "Problems with the macOS version?" paragraph.

[2022-05-10 18:31] ST33LDI9ITAL opened #583 "Mac not capturing audio/midi"
Macbook M1 Monterey 12.3.1
Giada 0.21.0

Not capturing any audio or MIDI.

Trying to sample from iPad over lightning/usb/idam w/e. Giada is failing to capture any audio. Not capturing MIDI either, tried with bluetooth and usb.

[2022-05-13 11:08] gvnnz commented on #475
@ST33LDI9ITAL last time I checked the code signing was a paid process. That said, I'm not super familiar with the macOS way of releasing binaries (neither @tblrchstr I assume), so any help is appreciated.

[2022-05-13 11:26] gvnnz commented on #583
Can you please launch Giada from the terminal and paste here the debug output? [Here](https://github.com/monocasual/giada/discussions/584)'s how to enable it.

[2022-05-13 17:28] ST33LDI9ITAL commented on #583
[init] Giada 0.22.0
[init] Build date: May 13 2022
[init] Release build
[init] Dependencies:
[init]   FLTK - 1.3.8
[init]   RtAudio - 6.0.0beta1
[init]   RtMidi - 5.0.0
[init]   Libsamplerate
[init]   Libsndfile - libsndfile-1.1.0
[init]   JSON for modern C++ - 3.9.1
[KA] Compiled RtAudio APIs: 1
  CoreAudio
[MidiMapper::init] scanning midimaps directory '/Users/st33l/Library/Application Support/G

[2022-05-14 07:43] gvnnz commented on #583
From the message

it seems the RtMidi lib has been built on macOS without the necessary API. Will get fixed in the next release 0.22.

Can you please open a new issue for this one? Thank you!

[2022-05-14 17:16] ST33LDI9ITAL opened #585 "Stream linker / Hear what played monitor mode not working"
Giada master @ [aed7dc3]
M1 Mac Monterey

Toggle stream linker on and no sound output. Tried various ways of mixing audio to no effect. Records and plays back audio fine, but not "hear what playing".

[2022-05-24 04:41] lgbaldoni opened #586 "Build fails with gcc 12"
**Environment**
- OS: openSUSE Tumbleweed
- Giada version: 0.21.0+git.20220521.ce35a252

**Describe the bug**
Build fails, see log snippet below.

**To Reproduce**
1. `/usr/bin/cmake /home/abuild/rpmbuild/BUILD/giada-0.21.0+git.20220521.ce35a252/. '-GUnix Makefiles' -DCMAKE_INSTALL_PREFIX:PATH=/usr -DINCLUDE_INSTALL_DIR:PATH=/usr/include -DLIB_INSTALL_DIR:PATH=/usr/lib64 -DSYSCONF_INSTALL_DIR:PATH

[2022-05-24 10:22] edogawa23 commented on #586
Being co-maintainer of the rpm package in OBS, I wanted to add that Tumbleweed recently switched to gcc-12 as default compiler, and explicitely injecting -std=c++-17 to CXXFLAGS doesn't help with it either:
(directly pasting the log from building a slightly older github checkout, apparently markdowning this as Code removes newlines)

[  127s] /usr/bin/g++ -DJUCE_DEBUG=0 -DJUCE_GLOBAL_MODULE_SETTIN

[2022-05-24 11:08] edogawa23 commented on #586
In another test, I forced the rpm package to use gcc11-c++ instead of default g++, and that made the error vanish, as was to be expected. not a durable solution, but a workaround for now.

[2022-05-26 17:04] gvnnz commented on #586
Hi @lgbaldoni @edogawa23 , thanks for reporting. [`std::exchange`](https://en.cppreference.com/w/cpp/utility/exchange) was introduced in C++14: maybe the compiler is set to C++11 mode? Our CMakeLists.txt is instructed to generate the proper flags for C++17 (see [here](https://github.com/monocasual/giada/blob/master/CMakeLists.txt#L217)), not sure why it doesn't work correctly.

[2022-05-27 11:16] edogawa23 commented on #586
I don't know either, but this setting doesn't seem to make it through to the actual g++ option list when compiling.
I'm a bit clueless, not too familiar with cmake. I've tried to read up on cmake and language standards but i feel more confused than before... anyways the workaround is in place, got accepted as a hotfix for the distro package, and will probably work as long as gcc-11 is around for T

[2022-05-27 11:29] lgbaldoni commented on #586
@gvnnz

You can see the full g++ command line in the log snippet above. I tried forcing C++14/C++17/C++20 with no improvement.

@edogawa23

Which you can't count on for long. Perhaps this might be deserving of a test with clang.

[2022-05-28 07:50] edogawa23 commented on #586
I've branched giada to my [home project](https://build.opensuse.org/package/show/home:edogawa/giada), reverted the workaround to use gcc-11, so one can see the original breakage(click the "Failed" button to see the logs); To me it seems the existing call for c++17 in CMakeLists.txt has no effect whatsoever after the cmake run. I'll happily try any proposed soluton and look to find an alternative w

[2022-05-28 08:57] gvnnz commented on #586
This is weird. I just checked the files generated by CMake here (version 3.18.4), especially `[build-dir]/CMakeFiles/giada.dir/flags.make`. It contains the following:

`CXX_FLAGS = -g -Wall -Wextra -Wpedantic -pthread -std=gnu++17`

@edogawa23 can you please check the content of that file on your system?

[2022-05-28 19:11] lgbaldoni commented on #586
This fixes it for me, but I can't very well make a PR for a dependency, can I?

[code]

So @gvnnz if you can't find a better place to add the include, we'll just keep this as local patch.

[2022-05-28 19:14] edogawa23 commented on #586
I checked and it's not there:
`CXX_FLAGS = -O2 -Wall -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=3 -fstack-protector-strong -funwind-tables -fasynchronous-unwind-tables -fstack-clash-protection -Werror=return-type -flto=auto -DNDEBUG -O3 -DNDEBUG -Wall -Wextra -Wpedantic -pthread -D__UNIX_JACK__ -D__LINUX_ALSA__`

[2022-05-29 08:21] edogawa23 commented on #586
@gvnnz No -std=gnu++17 isn't present here in `[build-dir]/CMakeFiles/giada.dir/flags.make`
I'm trying several things on this route, without success so far, it seems cmake 3.23.1 detects gcc-12.1 and a higher default language spec correctly and decides to drop the -std= option altogether (as indicated in cmake docs).
Trying a different method - setting
`set(CMAKE_CXX_STANDARD 17)
set(CMAKE_CXX_STAN

[2022-05-29 08:51] lgbaldoni commented on #586
@edogawa23 perhaps something is lost in cut and paste (tabs or line endings), please see [home:alois:branches:multimedia:apps/giada](https://build.opensuse.org/package/show/home:alois:branches:multimedia:apps/giada).

Unfortunately other things are broken there.

[2022-05-29 09:48] edogawa23 commented on #586
@lgbaldoni oh indeed, I overlooked the indicating error message... your patch has CRLF line endings. I copied your file to my local osc working copy and that works.

[2022-05-29 10:37] edogawa23 commented on #586
This builds now in my local checkout of current github.

I'll merge @lgbaldoni's changes into my branch, run the source service to update github checkout to current, add the new build dependency pkgconfig(fmt), and submit that up > multimedia:proaudio > multimedia:apps > Factory if noone objects.

[2022-06-01 05:37] DroWnThePoor opened #587 "`GLIBCXX_3.4.26' not found Required By AppImage"
On Ubuntu 18.04(GNOME)
Appimage v0.21.0

Attempting to run results in:
./Giada-v0.21.0-x86_64.AppImage: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `GLIBCXX_3.4.26' not found (required by ./Giada-v0.21.0-x86_64.AppImage)

strings /usr/lib/x86_64-linux-gnu/libstdc++.so.6 | grep GLIBCXX
GLIBCXX_3.4
GLIBCXX_3.4.1
GLIBCXX_3.4.2
GLIBCXX_3.4.3
GLIBCXX_3.4.4
GLIBCXX_3.4.5
GLIBCXX_3.4.6
GLIBCXX_3.4.

[2022-06-02 15:34] edogawa23 commented on #586
@gvnnz would you apply this patch?

Our package including @lgbaldoni's fix got [accepted](https://build.opensuse.org/request/show/979798), so I'd think this issue can be set to solved.

[2022-06-04 15:17] gvnnz commented on #34
Done in e83eb94a9cb1a4b86377a67b26956fd34da8270f, closing.

[2022-06-04 15:17] #34 closed

[2022-06-04 15:18] gvnnz commented on #529
Done in 5554b1dbab54ec23f27034c42e6c40123ecf14cc, closing.

[2022-06-04 15:18] #529 closed

[2022-06-04 15:37] gvnnz commented on #310
Done, closing.

[2022-06-04 15:37] #310 closed

[2022-06-04 15:38] gvnnz commented on #339
Done, closing.

[2022-06-04 15:38] #339 closed

[2022-06-04 21:37] gvnnz commented on #585
Reproduced also on Linux version.

[2022-06-05 10:20] gvnnz commented on #585
Fixed in 1b99c0a2e812f2923d0196a30b08c31c2960aaa6. Closing.

[2022-06-05 10:20] #585 closed

[2022-06-06 15:32] gvnnz commented on #586
@edogawa23 unfortunately we can't apply @lgbaldoni patch ourselves, since it touches a 3rd-party dependency. I would suggest to open a PR in [JUCE repo](https://github.com/juce-framework/JUCE) instead.

Anyway I'll keep this issue open until we will upgrade to GCC 12 (soon, hopefully).

[2022-06-06 15:47] gvnnz commented on #587
Thanks, I can reproduce this too. 0.19.2 seems the last working version.

[2022-06-06 15:55] gvnnz commented on #583
Also reported here: https://github.com/microsoft/vcpkg/issues/6993

[2022-06-06 17:23] edogawa23 commented on #586
Ah of course, i forgot what file the patch targets. Fine with me!

[2022-06-08 19:36] lizzyd710 commented on #579
I'm a bit of a wiki nerd, so I'd be willing to take it on. What kind of stuff would people like to see on the page?

[2022-06-09 07:27] gvnnz commented on #579
Hey @lizzyd710, thanks! That would be great. I would try to follow the same pattern of existing Wikipedia pages like [Reaper](https://en.wikipedia.org/wiki/REAPER) or [Ardour](https://en.wikipedia.org/wiki/Ardour_(software)): introduction, license, features, version history, technical data on the right side and so on.

[2022-06-09 12:58] lizzyd710 commented on #579
For starting out, I'll be testing some templates and formats and whatnot in my [personal Wikipedia sandbox](https://en.wikipedia.org/wiki/User:Lizzyd710/sandbox) before I start working on the full blown draft--mainly seeing what infobox would suit this best, making personal notes of what I want to elaborate on, potential sources, stuff like that.

[2022-06-09 13:03] lizzyd710 opened #588 "Code Coverage badge/metric"
**Is your feature request related to a problem? Please describe.**
I noticed that this repo has tests with the Catch2 framework but doesn't have any way to see how much of the repo is covered by these tests. For someone like me who would be interested in contributing by way of testing, it could help with giving people an idea of what needs to be done.

**Describe the solution you'd like**
I think

[2022-06-11 11:26] gvnnz commented on #588
Hey @lizzyd710, this is a good suggestion. However, our test coverage is pretty low at the moment: I fear that adding that badge right now would backfire at us from a "marketing point of view. Or maybe not, as you suggested?

Anyway I like this idea, I'm going to add it to the 1.x future milestone. Thanks!

[2022-06-12 01:03] lizzyd710 commented on #579
Even though it's on my personal Wikipedia sandbox, contributors are welcome! Especially when it comes to writing and making actual words out of the information we have. I'm much more of a bullet points and infobox gal, so any help with the actual writing is appreciated, as well as sources or mentions of this software in other places.

[2022-06-12 09:07] gvnnz commented on #579
Very cool! I'll add some introductory words, technical details + screenshot soon.

[2022-06-12 20:47] tblrchstr opened #591 "Duplicated .desktop file"
**Environment**
All.

**Describe the bug**
The file `extras/com.giadamusic.Giada.desktop` is the source of truth for the Linux `.desktop` file, but the [`make-package.sh` script](https://github.com/monocasual/giada/blob/master/.github/scripts/linux/make-package.sh#L17) defines its own (outdated) version. The packager script should include `extras/com.giadamusic.Giada.desktop` instead.

[2022-06-15 14:36] oldcastlehq commented on #553
Why is the issue closed? The issue itself is still there. You can't compile it on Arch, which is a shame. Is there any workaround to make a package for Arch?

[2022-06-16 17:59] silverhikari opened #594 "build fails at "No rule to make target '/usr/lib/libdl.so', needed by 'giada'""
**Environment**
- OS: Manjaro rolling
- Giada version: 0.22.0 source

**Describe the bug**
when building giada, the build fails at "No rule to make target '/usr/lib/libdl.so', needed by 'giada'" leading to a error

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build
2. cmake -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE='None'  -DWITH_VST3=ON -DWITH_SYSTEM_JSON=ON -W no-dev -B build

[2022-06-18 14:25] gvnnz commented on #447
Recently we added [fmt](https://fmt.dev/latest/index.html) as a new dependency, so we don't really need to wait for the official `std::format` support to fix this.

[2022-06-22 08:08] CarloCattano opened #595 "Build fails on Manjaro "error: ‘exchange’ is not a member of ‘std’""
**Environment**
- OS: Linux 5.15.46-1-MANJARO SMP PREEMPT Thu Jun 9 09:54:17 UTC 2022 x86_64 GNU/Linux
- Giada version: latest

config the cmake successfully and try to build with
[code]
cmake config
[code]

error output:
[code]

[code]

[2022-06-22 08:11] CarloCattano commented on #594
looking on pacman ```sudo pacman -F libdl.so```
it yields community/riscv64-linux-gnu-glibc 2.32-1
Maybe you can try to install the package and try again.
Im having trouble with a weird error as well , might be the g++ version but I cant figure it out -> #595

[2022-06-23 03:11] silverhikari commented on #594
now i am wondering why it requires a riscv glib when i am building on a x86_64 machine?

[2022-06-23 14:55] CarloCattano commented on #595
```#include <utility>``` did the trick
Thanks to bacon Paul (surge team) at the unfa discord for pointing it out
https://forum.juce.com/t/missing-header-in-juce-componentpeer/51665

[2022-07-01 20:18] #209 closed

[2022-07-02 08:18] gvnnz commented on #583
This should have been fixed in version 0.22. Just tested on my virtualized macOS. @ST33LDI9ITAL can you confirm?

[2022-07-02 09:10] gvnnz commented on #536
Done in ee5d6bacb7e0d69be01cdef36767b68420ae9072.

[2022-07-02 09:10] #536 closed

[2022-07-02 14:27] CarloCattano commented on #594
so @silverhikari, the only way I found ( and its probably an incorrect one ) its to
[code]
after checking with this command I saw it there with the .so.2 so I just tought of radically copiying it
[code]

[2022-07-03 21:42] silverhikari commented on #594
foundthe file that is making the call, it is in  the "src/build/CMakeFiles/giada.dir/build.make"(the files generate by cmake ..) so i am trying to see if changing that fixes this issue

[2022-07-04 15:44] silverhikari commented on #594
well after editing that the program seems to compile fully and create a binary

[2022-07-05 20:40] gvnnz commented on #345
Done in 61938f29d548ff459eb35dab3e9d52953b34ecf3.

[2022-07-05 20:40] #345 closed

[2022-07-09 12:23] gvnnz commented on #83
Done in 42f1beb5af369005303169cdd630364a1754170a, closing.

[2022-07-09 12:23] #83 closed

[2022-07-22 09:16] gvnnz opened #596 "[CI] Simplify tag usage"
Just use `${{ github.ref_name }}` for the actual tag name.

[2022-07-22 17:13] Kirtai commented on #371
This happens to me on EndeavourOS every time I try to close it. It happens with both the aur and the flatpak version (0.22.0)

The problem seems to be when you set the audio out to Jack on a system running Pipewire.

I get an endless amount of the following error while running:
[code]
and a freeze on trying to exit.

[2022-07-22 17:20] Kirtai opened #597 "Giada freezes on exit when output is Jack on a Pipewire based system"
**Environment**
- OS: EndeavorOs
- Giada version: 0.22.0

**Describe the bug**
If I set Jack as the output on a system running Pipewire, Giada will hang on exit and produce a stream of the following errors
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Install Giada on an up to date distro like Arch or EndeavorOS
2. Set output to Jack and enable debugging messages.
3. Save and exit.
4

[2022-07-24 20:28] gvnnz commented on #178
Done in https://github.com/monocasual/giada/commit/c8e09854180c23b8f22e01ff646b176fd5d7dfab and later, closing.

[2022-07-24 20:28] #178 closed

[2022-07-25 08:45] gvnnz commented on #597
Hey @Kirtai , thanks for reporting. We are using https://github.com/thestk/rtaudio as a backend which currently doesn't support Pipewire. There is a proposal for Pipewire implementation here: https://github.com/thestk/rtaudio/issues/324.

[2022-07-25 08:51] gvnnz opened #598 "No RtMidi APIs available in AppImage"
**Environment**
- Linux AppImage

Only `Dummy` API is available.

[2022-07-31 08:41] gvnnz commented on #598
Fixed in b0decabc33a807c4f28d53a22e5eb756744ce1bf.

[2022-07-31 08:41] #598 closed

[2022-07-31 10:17] tblrchstr opened #599 "Kill channel (shift + key) should rewind Sample Channels in One Shot - Basic pause mode"
Currently you have to play it and then kill it while playing, in order to rewind it.

[2022-07-31 10:24] gvnnz opened #600 "Refactor Conf and Patch with Factories"
Currently both `Conf` and `Patch` classes read and write themselves through `read` and `write` methods. Let's follow the common existing pattern instead: add new `ConfFactory` and `PatchFactory` that take care of creation, serialization and so on.

[2022-07-31 10:29] gvnnz commented on #583
No feedback, closing.

[2022-07-31 10:29] #583 closed

[2022-08-07 09:08] tblrchstr opened #601 "Cloning a Sample Channel doesn't copy begin/end points in Sample Editor"
**Environment**
All.

Points have default values instead.

[2022-08-07 09:14] tblrchstr opened #602 "Weird noise when playing two cloned Sample Channels with altered pitch"
**Environment**
All.

**To Reproduce**
1. Create a Sample Channel, load a sample in it and set the pitch to != 1.0;
2. Clone the channel and set the pitch to != 1.0;
3. Play the two channels together: weird noise is generated.

[2022-08-07 13:39] gvnnz opened #603 "Switch to FLTK's official Fl_Flex widget"
As soon as they freeze the API. See: https://github.com/fltk/fltk/issues/255

Also remove our custom Fl_Flex repository: https://github.com/monocasual/mcl-fl_flex

[2022-08-19 19:08] umlaeute opened #604 "fails to build with JUCE-7.0.2"
i tried to upgrade JUCE to JUCE-7.0.2 and experienced build failures (as expected, as `AudioPlayHead::getCurrentPosition()` has been deprecated in JUCE-7.0.0)

here's a naive attempt to fix the build:

[code]

[2022-08-27 11:54] gvnnz commented on #177
Done in development branch `midi-sync-fix`. Closing.

[2022-08-27 11:54] #177 closed

[2022-08-30 03:24] macramole commented on #597
I found a workaround to this problem (at least for [AudioStellar](https://gitlab.com/ayrsd/audiostellar))
1. Copy jack.conf from /usr/share/pipewire to ~/.config/pipewire
2. Edit the file adding node.force-quantum option to jack.properties

In my configuration I'm using node.latency = 512/44100 and node.force-quantum = 512 . I guess latency and force-quantum should match but I'm not sure.

[2022-08-31 19:07] HorselessName opened #607 "Input greyed out"
Im on Windows.
The input config is greyed out, even tho my microphne works normally.

Any tips?

[2022-09-01 09:03] CarloCattano opened #608 "some lv2 GUI's fail to initialize"
**Environment**
- Linux xTx 5.19.1-3-MANJARO  SMP PREEMPT_DYNAMIC Sat Aug 13 06:34:52 UTC 2022 x86_64 GNU/Linux
- Giada version: [0.23] compiled from source today

Opening some lv2 plugins on a track FX leads to the UI not opening and the regular generic UI doesnt show up.
I will do more tests to tell exactly which plugins fail to do so.

Here is an example with [zam plugins](https://github.com/za

[2022-09-03 09:38] gvnnz commented on #604
Hi @umlaeute , I think we fixed those issues when we upgraded to JUCE 7 here: 42f1beb5af369005303169cdd630364a1754170a

I'm testing with 7.0.2, will report back soon.

[2022-09-03 09:43] gvnnz commented on #607
Hey @HorselessName , did you tick the checkbox next to the input device drop-down menu (and restart)?

[2022-09-03 09:57] gvnnz commented on #608
Thanks @CarloCattano for the report & investigation. I recommend to test plug-ins also in the JUCE Plug-in Host app and see if they work there.

[2022-09-03 14:27] CarloCattano commented on #608
They do pretty much. Tested in Carla and BespokeSynth

[2022-09-03 20:11] tandy-1000 opened #609 "Giada for VJs / video"
Hi, Giada seems like an excellent tool!
I think it could also work great for VJ / video looping workflows with very minimal changes to the UX.
There is a distinct lack of FOSS tools for VJs.

My questions are:
- Would this be of interest to the developers?
- Would this be out of scope for the Giada project?

Let me know what you think!

Thank you.

[2022-09-03 22:12] unfa commented on #232
If Giada can support these two things, it could already be integrated into RaySession projects:

1. Load project specified in commandline or if ther is none there - create and save it in the given path
2. Save project when receiving signals USR1 or USR2.

![image](https://user-images.githubusercontent.com/491704/188289101-7684ca48-d384-4574-a3da-c21864209859.png)

This way I could make RaySession

[2022-09-04 08:58] gvnnz commented on #608
Thanks. I added some fixes to the plug-in's UI initialization here: 15f0ab4c87f6ac59955f96872c941ea1885b03ae .

[2022-09-04 09:00] gvnnz commented on #609
Thanks @tandy-1000 for your kind words. Giada definitely fits the workflow for VJ and video looping. This is something we might consider in the future, post version 1.0 (see milestone [here](https://github.com/monocasual/giada/milestone/4). Let's keep this one open!

[2022-09-04 10:32] CarloCattano commented on #608
Hm. Now they open but dont display anything. Is a step forwards tho

[code]

![image](https://user-images.githubusercontent.com/17380530/188309058-cc00fa96-d766-437f-bf4b-5cd0a3ce58e4.png)

[2022-09-17 15:27] ericek111 commented on #597
This should also work until the next reboot:
[code]

[2022-09-19 20:01] silverhikari opened #610 "no juce cmakelist in /deps/juce when build with source code release"
**Environment**
- OS: Manjaro
- Giada version: 0.23.0

**Describe the bug**
when build giada with the source code release avaible on the website, there is no cmakelists.txt in the juce dependency folder

**To Reproduce**
Steps to reproduce the behavior:
1. download source code release of website and extract
2. run cmake with options (the options used -DCMAKE_INSTALL_PREFIX=/usr  -DWITH_VST3=ON -W

[2022-10-08 09:16] gvnnz opened #611 "Evaluate CPM (Cmake Package Manager)"
https://github.com/cpm-cmake/CPM.cmake

[2022-10-08 13:11] gvnnz commented on #601
Fixed in [f8543e3](https://github.com/monocasual/giada/commit/f8543e3101496b8027d2f44a8ff7f1e11784ee9e).

[2022-10-08 13:11] #601 closed

[2022-10-09 09:22] gvnnz commented on #599
Done in https://github.com/monocasual/giada/commit/0b7bb1f9452155d0c1f1170c8200f7c47157ae4c.

[2022-10-09 09:22] #599 closed

[2022-10-12 11:52] deviant-syndrome opened #613 "Recording always gets trimmed to 4 beats"
**Environment**
- OS: MacOS Catalina 10.15.7
- Giada version: 0.23.0

**Describe the bug**
I cannot record sound for longer than initial sequence size (4beats) at a given tempo. Loop length seems to be correct (same as sequence length), but recorded sound always gets trimmed after first 4 beats

**To Reproduce**
Steps to reproduce the behavior:
1. Start application
2. Add new sample channel A
3. L

[2022-11-09 20:34] gvnnz commented on #613
Hi @deviant-syndrome , thanks for the report and sorry for the annoying delay. I'll look into it very soon. Feel free to go ahead with your PR in the meantime.

[2022-11-09 20:40] gvnnz commented on #610
Thanks @silverhikari for the report and sorry for the delay. We will look into it.

[2022-11-09 20:42] gvnnz commented on #608
Might be related: https://github.com/juce-framework/JUCE/issues/1123

[2022-11-12 11:31] gvnnz opened #619 "Clear actions via MIDI bindings"
Discussion started here: https://github.com/monocasual/giada/discussions/617#discussioncomment-4104502

[2022-11-13 09:34] gvnnz commented on #602
Fixed in 2054a916858fe499201e7255b58e99aefba18a9d, closing.

[2022-11-13 09:34] #602 closed

[2022-11-20 21:36] gvnnz commented on #613
Fixed in [667482d](https://github.com/monocasual/giada/commit/667482dde826fba410cc724dc94adc0d40676e58). @deviant-syndrome feel free re-open it otherwise.

[2022-11-20 21:36] #613 closed

[2022-11-20 21:37] gvnnz commented on #596
Done in [8e6bc3a](https://github.com/monocasual/giada/commit/8e6bc3a6bb2ff782160c6e3c86ad75d89546cccd), closing.

[2022-11-20 21:37] #596 closed

[2022-11-27 21:50] dromer opened #620 "error: ‘WEB_MIDI_API’ is not a member of ‘RtMidi::Api’"
**Environment**
- OS: debian 11
- Giada version: dbe6ea85ee1bf6a5b2f57b20086176341cb1c536

Trying to build from a clean repo:

[code]

[2022-11-27 22:01] gvnnz commented on #620
Hey @dromer, did you `git submodule update --recursive` first?

[2022-11-27 22:09] dromer commented on #620
Yes, of course.

Simply removing this code from `src/core/kernelMidi.cpp` fixed it:
[code]